<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Producto</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        
        h1, h2 {
            text-align: center;
            color: #333;
        }

        h2 {
            margin-bottom: 20px; /* Agregado: separación del botón rojo */
        }
        
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        label {
            display: block;
            margin-bottom: 5px;
            color: #666;
        }
        
        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        
        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 10px;
        }
        
        button:hover {
            background-color: #0056b3;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            text-align: left;
        }
        
        th {
            background-color: #f2f2f2;
        }
        
        img {
            max-width: 100px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        
        .alert {
            margin-top: 20px;
            padding: 10px;
            border-radius: 5px;
        }
        
        .alert-danger {
            background-color: #f8d7da;
            color: #721c24;
        }
        
        .alert-success {
            background-color: #d4edda;
            color: #155724;
        }

        @media screen and (max-width: 600px) {
            table {
                display: block;
                overflow-x: auto;
                white-space: nowrap;
            }

            th, td {
                min-width: 100px;
            }

            button {
                margin-top: 20px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Insertar Nuevo Producto</h1>
        <form action="/producto/insertar-producto" method="POST">
            <label for="imagePath">Enlace Imagen:</label>
            <input type="text" name="imagePath" id="imagePath" required><br>
            <label for="title">Título:</label>
            <input type="text" name="title" id="title" required><br>
            <label for="description">Descripción:</label>
            <textarea name="description" id="description" required></textarea><br>
            <label for="price">Precio:</label>
            <input type="number" name="price" id="price" required><br>
            <button type="submit">Insertar Producto</button>
            <a href="/" type="button" class="btn btn-primary" style="background-color: red; display: block; width: fit-content; margin: 20px auto 0; text-align: center; border-radius: 5px; padding: 10px; color: white; text-decoration: none;">Regresar a Inicio</a>
        </form>

        <h2>Productos Creados</h2>

            <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Imagen</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Acción</th>

                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                  <td>{{ @index }}</td> 
                    <td><img src="{{imagePath}}" alt="Imagen del Producto"></td>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>{{price}}</td>
                     <td>
                <a href="/producto/editar/{{this._id}}" class="btn btn-sm btn-success">Editar</a>
                <a href="/producto/borrar/{{this._id}}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro que deseas borrar este producto?')">Borrar</a>

                     </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>
        {{/if}}
        {{#if successMessage}}
    <div class="alert alert-success" role="alert">
        {{ successMessage }}
    </div>
    {{/if}}

     <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>

