<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            margin-bottom:20px;

        }

        .profile-container {
            max-width: 800px;
            margin: 0 auto;
        }

        .order-card {
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .order-price {
            float: right;
        }

        .btn-primary {
            margin-top: 20px;
        }

        @media (max-width: 575px) {
            .list-group-item {
                flex-direction: column !important;
                align-items: flex-start !important;
            }

            .list-group-item img {
                margin-bottom: 10px;
            }
        }

    </style>
</head>
<body>
    <div class="container profile-container">
        <h1 class="text-center">Perfil Usuario</h1>
        <hr>
        <h2>Mis Órdenes</h2>
        {{# each orders}}
        <div class="card order-card">
            <div class="card-body">
                <ul class="list-group">
                    {{# each this.items}}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="{{this.item.imagePath}}" class="mr-3"> 
                        <div> 
                            <div>{{ this.item.title }}</div>
                            <div>{{ this.qty }} Unidades</div>
                        </div>
                        <span class="badge badge-primary badge-pill">{{ this.price }}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="card-footer">
                Precio: <strong>${{ this.cart.totalPrice }}</strong>
            </div>
        </div>
        {{/each}}
        <div>
            <a href="/" type="button" class="btn btn-primary btn-block btn-lg d-md-none">Regresar a Inicio</a>
            <a href="/" type="button" class="btn btn-primary btn-block d-none d-md-block">Regresar a Inicio</a>
        </div>
    </div>
</body>
</html>
