<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    </style>
</head>
<body>

<div class="container">
    <h1 class="text-center">{{title}}</h1>
    <p class="text-center">Welcome to {{title}}</p>

    <div id="success" class="alert alert-success mt-3" {{#if noMessages}}hidden{{/if}}>
        {{successMsg}}
    </div>

    <div class="row mt-5">
        {{#each products}}
            {{#each this}}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-3">
                        <img src="{{this.imagePath}}" class="card-img-top" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{this.title}}</h5>
                            <p class="card-text text-justify description">{{this.description}}</p>
                            <div class="clearfix form-inline">
                                <div class="price mr-auto">${{this.price}}</div>
                                <a href="/add-to-cart/{{this._id}}" class="btn btn-danger float-right">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
